@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to  Facture Xpress</h1>
    <img src="~/Images/xpress.png" alt="xpress" style="width:250px;height:300px;">
    
</div>
